@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<p>
	<ul>
		<li><a asp-page="/Movies/Index">Movie Table</a></li>
		<li><a asp-page="/Directors/Index">Director Table</a></li>
	</ul>
	
</p>
