@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Movie Database</h1>
</div>


<p>
	<ul>
		<li><a asp-page="/Movies/Index">Movies Table</a></li>
		<li><a asp-page="/Directors/Index">Directors Table</a></li>
		<li><a asp-page="/Actors/Index">Actors Table</a></li>
		<li><a asp-page="/Genres/Index">Genres Table</a></li>
	</ul>
	
</p>
